.menubg {
  width: 100%;
  height: 200px;
  background-color: purple !important;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
div.photo {
  width: 30%;
  background-color: yellow;
  float: left;
  height: inherit;
}
div.aboutmenu {
  background-color: blue;
  width: 55%;
  float: left;
  height: inherit;
}
.aboutmenu > button {
  border: none;
  outline: none;
  height: 25px;
  background-color: transparent;
}
button:hover {
  background-color: skyblue !important;
}
/* Underline From Center */
.underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: black;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.underline:hover:before,
.underline:focus:before,
.underline:active:before {
  left: 0;
  right: 0;
}
